{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato|Luckiest+Guy&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
	<link rel="stylesheet" href="{% static '/blog.css'%}">
	<link rel="stylesheet" href="{% static '/zenburn.css'%}">
	<script src="https://kit.fontawesome.com/b6ca047dfe.js"></script>
</head>
<body>

<div class="page-header">


	<div class="top-menu">
		{% if user.is_authenticated %}
			<h5>Hello {{ user.username }} (<a href="{% url 'logout' %}">Logout</a>)</h5>
			<h1><a href="{% url 'blog:post_new' %}" ><button type="button" class="btn btn-primary">+ New Post</button></a></h1>
			<h1><a href="{% url 'blog:post_drafts' %}" ><button type="button" class="btn btn-primary">Post Drafts</button></a></h1>
		{% else %}
			<h1><a href="{% url 'login' %}" ><button type="button" class="btn btn-primary">Login</button></a></h1>
			<h1><a href="{% url 'blog:signup' %}" ><button type="button" class="btn btn-primary">Signup</button></a></h1>
		{% endif %}
	</div>


	<h1><a href="{% url 'blog:post_list' %}">Eazy Devs BLOG</a></h1>
</div>

<div class="content container">
	<div class="row">
		<div class="col-md-8">

      {% block content %}
      {% endblock %}

    </div>
  </div>
</div>

</body>
</html>
