{% extends "blog/base.html" %}
{% load markdownify %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
	<div class="post">

		{% if user.is_authenticated %}
		<span class="crud-icons" style="float: right; font-size: 30pt; margin-right: 100px; ">
			{% if not post.published_date %}
				<a href="{% url 'blog:post_publish' pk=post.pk %}"><i class="fas fa-rocket"></i></a>
			{% endif %}
			<a href="{% url 'blog:post_edit' pk=post.pk %}"><i class="fas fa-pencil-alt"></i></a>
			<a href="{% url 'blog:post_remove' pk=post.pk %}"
				onclick="return confirm('Are you sure to delete POST {{ post.title }} ?')"><i class="fas fa-trash"></i></a>
		</span>
		{% endif %}

		<h1>{{ post.title }}</h1>


		{% if post.published_date %}
			<div class="date">
				{{ post.published_date }}
			</div>
		{% endif %}

		<div class="author">
			<h5>Author: {{ post.author}}</h5>
		</div></br>

		<div class="text-desc">
			<p>{{ post.text | markdown | safe | linebreaksbr}}</p>
		</div>

	</div>

	<hr>
	<h5>You can comment on code Language Style as following example:</h5>
	<strong>```python</br>print('Hello World')</br>```</strong></br>
	<hr>

	<a href="{% url 'blog:comment_to_a_post' pk=post.pk  %}" class="btn btn-primary">Comment this Post</a>


		{% for comment in post.comments.all %}
			{% if user.is_authenticated or comment.approved %}

				<div class="comment">
					{% if user.is_superuser %}
						<a href="{% url 'blog:comment_remove' pk=comment.pk %}" class="btn btn-danger"
						onclick="return confirm('Are you sure to delete Comment from  {{ comment.author }} ?')">Delete<a>
					{% endif %}

					{% if not comment.approved and user.is_superuser %}
						<a href="{% url 'blog:comment_approve' pk=comment.pk %}" class="btn btn-danger">Approve<a>
					{% endif %}

					<strong>{{ comment.author}}</strong>

					<div class="date">
						{{ comment.created_date }}
					</div>

					<p>{{ comment.text | markdown | safe | linebreaksbr}}</p>

					<hr>
				</div>
			{% endif %}
		{% empty %}
			<br>
			<h4>No comments yet... <br>Tell us what you think about this Post!</h4>
		{% endfor %}

{% endblock %}
